.task1{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-flow:row wrap;
    background-color: #ccc;
    margin: 10px auto;
}
.task1 *{
    width: 200px;
    height: 200px;
    margin:10px 25px 10px 25px;
    background-color: white;
    box-sizing: border-box;
}
.border1{border: 5px solid #1C6EA4;}
.border2{border:5px double #1C6EA4;}
.border3{border:5px dashed #1C6EA4;}
.border4{border:5px dotted #1C6EA4;}
.border5{border:20px groove #1C6EA4;}
.border6{border:20px ridge #1C6EA4;}
.border7{border:20px inset #1C6EA4;}
.border8{border:20px outset #1C6EA4;}
.task2{
    width: auto;
}
.task2 *{
    width: auto;
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.style2{text-decoration:overline ;}
.style3{text-decoration:line-through ;}
.style4{text-decoration:underline ;}
.style5{border: none;text-decoration: none;color: black;}
.style6{letter-spacing: 10px;}
.style7{font-weight: bold;}
.style8{font-style: italic;}
.style9{font-variant: small-caps;}/*单独让英文字母变小且为大写 */
.style10{font-size: 20px;}
.style11{text-align: right;}
.style12{font-variant: small-caps;font-size: 2em;}
.style13{text-indent: 20px;text-align: left;line-height: 30px;}